* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main header {
    text-align: center;
}

main article {
    margin: 1rem;
    column-count: 3;
    -moz-column-count: 3;
    column-gap: 1rem;
    -moz-column-gap: 5rem;
    line-height: 3;
}

main article section h4 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;
}

main article section p {
    white-space: pre-line;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}

main article section b:after {
    content: attr(data-chord);
    position: absolute;
    transform: translateY(-1.25rem);
}

main article section span[data-lyrics=""] b:after {
    position: relative;
    top: -1.25rem;
}

main article section span:after {
    content: ' ';
}

main article section span[data-lyrics$="."]:after {
    content: '\A';
}
