* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
}

.site {
    min-height: 100vh;
}

.site main, .site ul {
    flex: 1;
}

.white {
    color: white;
}

.bg-white {
    background-color: white;
}

.bg-transparent {
    background-color: transparent;
}

.cursor-pointer {
    cursor: pointer;
}

.light-red {
    color: #f93943;
}

.light-blue {
    color: #1c5d99;
}

input[type=checkbox]:checked + label {
    color: #1c5d99;
}


nav a:hover, form input[type=submit]:hover, input[type=button]:hover,
nav a:focus, form input[type=submit]:focus, input[type=button]:focus,
input[type=checkbox] + label:hover, input[type=checkbox] + label:focus {
    background: #1c5d99;
    color: white;
}

nav a:active, form input[type=submit]:active,
input[type=button]:active, input[type=checkbox] + label:active {
    background: #bbcde5;
    color: white;
}

input[type=submit]:disabled, input[type=button]:disabled {
    color: #222222;
    background: none;
    cursor: default;
}

.content-ellipsis-after:after {
    content: '...';
}

.dark-gray {
    color: #222;
}

.bg-dark-gray {
    background-color: #222;
}

.border-dark-gray {
    border-color: #222;
}

ul li a:hover, ul li a:focus {
    color: white;
    background: #222;
}

ul li a:active {
    color: #1c5d99;
}

.rounded-2 {
    border-radius: 1.5rem;
}

input[type="search"] {
    width: 50vw;
}

.js header nav input[type="submit"] {
    display: none;
}

.font-family-serifs {
    font-family: 'Georgia', serif;
}

.font-family-sans-serifs {
    font-family: "Helvetica", "Arial", sans-serif;
}

.content-dash-after:after {
    content: ' - ';
}

main.hide-duplicated-chorus section[data-section=Chorus] ~ section[data-section=Chorus] p {
    display: none;
}


main {
    column-width: 30rem;
    -moz-column-width: 30rem;
    -webkit-column-width: 30rem;
    column-gap: 1rem;
    -moz-column-gap: 5rem;
    -webkit-column-gap: 5rem;
}

.column-break-inside-avoid {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.line-height-5 {
    line-height: 2.5;
}

main article section i:after {
    content: attr(data-chord);
    font-size: 0.75rem;
    position: relative;
    display: inline-block;
    width: 0;
    top: -1.25rem;
    color: #1c5d99;
}

main article section span:not([data-lyrics]) i:after {
    display: inline;
}

main article section span:before {
    content: ' ';
}

main article section span[data-chord-placement=inside]:before {
    content: '';
}

main article section span[data-chord-placement=inside] {
    white-space: nowrap;
}

main article section span[data-lyrics$="."]:after {
    content: '\A';
}

.editor main {
    flex-grow: 2;
}

aside {
    flex-grow: 1;
    height: 100vh;
}

aside form {
    flex-grow: 1;
}

aside textarea {
    width: 100%;
    flex-grow: 1;
}
