
//font weights
$light: 100;
$regular: 400;
$bold: 600;

$base-font-family: 'Source Serif Pro', serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

$header-font-size: 3rem;
