$margins: 50px;
main {

    //hides chords display
    .no-chords {
        display: none;
    }

    display: flex;
    flex-direction: column;

    header {
        background: none;
        margin: $margins $margins 0 $margins;
        text-align: center;
    }

    article {
        margin: $margins;
        @include column-width(400px);
        @include column-count(3);
        @include column-gap(60px);

        section {
            @include break-inside(avoid);
        }

        section {

            h2 {
                text-transform: uppercase;
                font-size: 1.5rem;
                margin-top: 0;
                margin-bottom: 10px;

            }

            &.Chorus h2 {
                position: relative;
            }

            // chorus "tooltip"
            &.Chorus h2:before {
                content: '\25b6';
                color: $accent-color3;
                position: absolute;
                top: 0;
                left: -15px;
            }


            // allows for line breaks
            p {
                white-space: pre-line;
            }

            b {
                margin: 0 4px;
                color: $accent-color;
            }

            // add space after regular lines
            span:after {
                content: ' ';
            }

            // add line break if line end with "."
            span[data-lyrics$="."]:after {
                content: '\A';
            }

            p {
                margin-left: 15px;
                margin-bottom: 15px;
                text-align: justify;
            }

            padding: 20px;
            line-height: 2;
        }
    }


    // hides all choruses but first one
    .no-duplicated-choruses .Chorus ~ .Chorus {
        display: none;
    }

}
